---
---

@import 'typography';

//functional clases for js:

.highlight::after {
  content: " " attr(data-symbol);
}

.hide {
  display: none;
}

//styling classes:

.pointer:hover {
  cursor: pointer;
}

// TEMP: (classes for temporary dev use)

header {
  position: sticky;
  top: 0;
  //bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  min-height: 8rem;
  height: 17.5vh;
  //backdrop-filter: blur(1px);
  //display: none !important;
  //justify-content: space-between;
  //border-bottom: 1px solid grey;
}

//header * {
  //display: none;
//}

ul {
  padding: 0;
  margin: 0;
}

.wall {
  flex-wrap: wrap;
}

.item {
  float: left;
  //position: relative;
  border: 1px solid red;
}

.item-date,.item-category,.item-title {
  //display:none;
}

.item-thumb {
  width: auto;
  padding: 0 4px 4px 0;
  //position: absolute;
  //top: 0;
  //left: 0;
}

li.item-thumb img {
  min-height: 8rem;
  height: 17.5vh;
}

#navbar {
  justify-content: space-between;
}

#menu {
  display: none;
  justify-content: flex-end;
  width: 100%;
}

#menu>ul:first-of-type {
  border-left: 1px grey solid;
}

#menu>ul {
  margin-left: 0.5rem;
  padding-left: 0.5rem;

}

.expand {
  display: flex !important;
}

main {
  height: 200vh;
}

.filterlist {
  display: none;
  max-height: 100%;
}

.item:hover {
  opacity: 0;
}
