---
layout: default
title: ochre tests
---
<h2 id="fibonacci"></h2>
{% include nav.html %}
<main>
  <ul class="row main-wall">
    {% for post in site.posts %}
      {% if post.date == post.next.date %}
        <li class="test" data-category="{{ post.categories }}"><h4>{{ post.title }}</h4> </li>

      {% else %}
        <li><h4>{{ post.date | date_to_long_string: "ordinal" }} </h4></li>
        <li class="date" data-category="{{ post.categories }}"><h4>{{ post.title }},</h4></li>
      {% endif %}
    {% endfor %}
  </ul>
</main>
{% include footer.html %}

<!--{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}-->


<!--
{% if post.related_image %}
  <span class="displaynone">{% increment var %}</span>

  <li class="wall-item">
    {{ var }}
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.related_image | prepend:"/imgs" | relative_url }}" class="wall-image"/>
    </a>
  </li>

{% endif %}-->
