---
layout: default
title: ochre tests
---


<main class="shim">
  <ul class="row wall">
    {% for post in site.posts %}
      <li class="">
        <a href="{{ post.url | relative_url }}">
          {% if post.related_image %}
            <img src="{{ post.related_image | prepend:"/imgs" | relative_url }}" class=""/ style="height:20vh; min-height:5rem;">
          {% endif %}
        </a>
          <!--a href="" class="">{{ post.title }}</a-->
      </li>
    {% endfor %}
  </ul>
</main>

<footer></footer>

<script type="text/javascript" src={{ "/js/main.js" | relative_url }}></script>
<script type="text/javascript">
  setShimHeight(
  'header', 'shim');
</script>
