@import 'variables';

.top-nav {
  border-bottom: 1px solid lighten($type-color, 40%);
  position: sticky; /*may need a fallback, though position: static is probably the most graceful option...*/
  top: 0;
  width: 100%;
  background-color: white;
}

.top-nav-list {
  justify-content: space-between;
  padding: $small;
}

.row {
  display: flex;
  flex-direction: row;
}

.main-wall {
  flex-wrap: wrap;
}

.wall-item {
  min-height: $medium;
  height: 17.5vh;
  padding: 0 0 $minimal $minimal;
}

.wall-item:hover {
  /*margin: 0 $small $minimal $small;
  transition: margin 0.15s ease-in-out;*/
}

li.wall-item *{
  height: 100%;
  padding: 0;
  margin: 0;
}
