@import 'variables';

.main-wall {
  flex-wrap: wrap;
}

.wall-item {
  min-height: $medium;
  height: 17.5vh;
  padding: 0 0 $minimal $minimal;
}

.wall-item:hover {
  /*margin: 0 $small $minimal $small;
  transition: margin 0.15s ease-in-out;*/
}

.wall-image {
  //position: absolute;
  //z-index: 1
}

.wall-title {
  //z-index: 2;
}

li.wall-item *{
  height: 100%;
  padding: 0;
  margin: 0;
}

.date {
  width: 100%;
  //text-align: center;
  padding-left: $small
}
