@import "variables";

.post-container {
  flex-wrap: wrap;
  justify-content: center;
}

.post-image-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.post-image-container::-webkit-scrollbar {
  display: none;
}

.post-image {
  max-height: 100vh;
}

.post-content {
  //align-items: center;
  //justify-content: flex-end;
  padding: $small;
  align-self: flex-end;
}

.column {
  display: flex;
  flex-flow: column;
}

/*version check comment*/
