@import "variables";

.post-container {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post-image-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.post-image-container::-webkit-scrollbar {
  display: none;
}

.post-image {
  //max-height: 100vh;/*would be good to find a way to subtract the height of the nav element*/
  //margin-right: $small;
}

.post-content-container {
  padding: $small;
  align-self: flex-end;
  flex-grow: 1;
  //background-color: blue;
}

.post-content-container p {
  margin: 0 auto;
}
