 @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$sans: 'Inria Sans', sans-serif;/*weights available: 300 to 700*/
$serif: 'Inria Serif', serif;/*weights available: 300 to 700*/

$type-color: #2b2b2b;
$dotted-line: 1px dotted grey;

//options for selectors

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

html {
  font-family: $sans;
  font-size: 90%;
  font-weight: 500;
  color: $type-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $type-color;
}

li {
  list-style-type: none;
}

hr {
  border-top: $dotted-line;
}

b {
  font-weight: 600;
  //font-size: 1rem;
}
