@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$sans: 'Inria Sans', sans-serif;/*weights available: 300 to 700*/

$serif: 'Inria Serif', serif;/*weights available: 300 to 700*/

$type-color: #2b2b2b;

html {
  font-family: $sans;
  font-size: 90%;
  font-weight: 400;
  color: $type-color;
}

a {
  text-decoration: none;
  color: $type-color;
}

h1,h2,h3,h4,h5,h6 {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

li {
  list-style-type: none;
}
