/*

$small: 1rem * 2 / 3;
$minimal: $small * 3 / 16;
$x-small: $small / 2;
$medium: $small * 12;
$thinline: 1px solid lighten($type-color, 50%);

h1,h2,h3,h4,h5,h6 {
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  font-family: $sans;
  text-decoration: underline;
}

p {
  font-family: $sans;
  //font-size: 1.2Rem;
}

li {
  list-style-type: none;
}

//baseline settings for html elements

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
}

main {
  width: 100%;
}

p {
  max-width: 35rem;
  margin-bottom: 0;
}

* p:first-of-type {
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-flow: column;
}

a:hover {
  cursor: pointer;
}

.displaynone {
  display: none;
}

Old css might be still useful

.main-wall {
  flex-wrap: wrap;
}

.wall-item {
  min-height: $medium;
  height: 17.5vh;
  padding: 0 0 $minimal $minimal;
}

li.wall-item *{
  height: 100%;
  padding: 0;
  margin: 0;
}
*/
