{% comment %}<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>{% endcomment %}

<!--

{{ post.date | date_to_string | slice: 3,8 }}

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

{% if post.related_image %}
  <span class="displaynone">{% increment var %}</span>

  <li class="wall-item">
    {{ var }}
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.related_image | prepend:"/imgs" | relative_url }}" class="wall-image"/>
    </a>
  </li>

{% endif %}-->
