---
layout: default
---
{% include nav.html %}
<main>

    <div class="post-container row">
      {% if page.related_image %}
        <div class="post-image-container">
          <img src="{{ page.related_image | prepend:"/imgs" | relative_url }}" class="post-image"/>
        </div>
      {% endif %}
      <div class="post-content">
        {{ content }}
      </div>
    </div>
    <!--div class="post-image-container" style="background-image: url({{ page.related_image | prepend:"/imgs" | relative_url }});">
    </div-->




  <p class="meta">{{ page.date | date_to_string }}</p>
</main>
{% include footer.html %}
