---
layout: default
---
<nav class="top-nav" id="topnavlist">
  <ul class="row top-nav-list">
    <li class="nav-title" onclick="toggleId('menu')"><a>Menu</a></li>
    <li class="nav-title"><a href="{{ site.url | append:site.baseurl | append:"/" }}">{{ site.title }}</a></li>
  </ul>
</nav>

<ul class="column menu" id="menu" onclick="toggleId('menu')">
  <li></li>
</ul>

<nav class="top-nav" id="topnavlist" style = "border-bottom: 0; position: fixed; top: 50%; background-color: transparent;">
  <ul class="row top-nav-list">
    <li class="nav-title sideways">
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url | relative_url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </li>
    <li class="nav-title sideways">
      {% if page.next.url %}
      <a class="next" href="{{page.next.url | relative_url }}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </li>
  </ul>

</nav>
<main>


    <div class="post-container row">
      {% if page.related_image %}
        <div class="post-image-container">
          <img src="{{ page.related_image | prepend:"/imgs" | relative_url }}" class="post-image" id="shim"/>
        </div>
      {% endif %}
      <div class="post-content-container">
          <h4>{{ page.title }}</h4>
          <h4>{{ page.date | date_to_string }}</h4>
          {{ content }}
      </div>
    </div>
    <!--div class="post-image-container" style="background-image: url({{ page.related_image | prepend:"/imgs" | relative_url }});">
    </div-->

</main>
