---
layout: default
---
{% include nav.html %}
<main>

    <div class="post-container row">
      {% if page.related_image %}
        <div class="post-image-container">
          <img src="{{ page.related_image | prepend:"/imgs" | relative_url }}" class="post-image" id="shim"/>
        </div>
      {% endif %}
      <div class="post-content-container">
          <h4>{{ page.title }}</h4>
          <h4>{{ page.date | date_to_string }}</h4>
          {{ content }}
      </div>
    </div>
    <!--div class="post-image-container" style="background-image: url({{ page.related_image | prepend:"/imgs" | relative_url }});">
    </div-->





</main>
{% include footer.html %}
